*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --clr-text: #333333;
  --clr-grey: #4f4f4f;
  --clr-light-grey: #828282;
  --clr-grey-4: #bdbdbd;
  --clr-bg-grey: #e0e0e0;
  --clr-bg-light-grey: #f2f2f2;
  --clr-highlight: #f2994a;

  --bord-radius: 12px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: snow;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--clr-text);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Reset number input styles*/
input[type='number'] {
  /* Remove controls from Firefox */
  -moz-appearance: textfield;
  border: none;
}
/* Remove controls from Chrome and Safari */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

.container {
  width: 90%;
  max-width: 465px;
  margin: 0 auto;
}

.btn {
  padding: 1.125em 3.25em;
  font-size: 1rem;
  border: none;
  border-radius: var(--bord-radius);
  cursor: pointer;
  transition: opacity 0.2s;

  &--primary {
    color: white;
    background-color: var(--clr-highlight);

    &:hover {
      opacity: 0.8;
    }
  }
}

.highlight {
  color: var(--clr-highlight);
}

.main {
  margin-bottom: 4em;
  &__title {
    font-size: 1.5rem;
    margin-top: clamp(1.25em, 5vw, 1.7em);
    margin-bottom: 1em;
  }
}

.cart {
  background-color: var(--clr-bg-light-grey);
  border-radius: var(--bord-radius);
  padding: 1.5em;
  margin: 0 auto;
  margin-bottom: 2.5em;
  max-width: 383px;
  font-size: clamp(0.875rem, 2vw, 1.125rem);

  &__list {
    margin-bottom: 5.5em;
  }

  &-item {
    font-size: clamp(0.75rem, 2vw, 1rem);
    color: var(--clr-grey);

    margin-bottom: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2em;

    &__image {
      border-radius: var(--bord-radius);

      &-wrapper {
        max-width: clamp(123px, 12vw, 134px);
        width: 100%;
      }
    }

    & > div {
      width: 100%;
      max-width: 15ch;
    }

    &__title {
      font-size: inherit;
      margin-bottom: 0.5em;
      font-weight: 600;
    }

    & > div {
      display: flex;
      flex-direction: column;
    }

    &__price {
      &--wrapper {
        margin-bottom: auto;
      }

      &--discount {
        margin-left: 1em;
        font-size: 0.75em;
        text-decoration: line-through;
      }
    }

    &__quantity {
      display: flex;
      position: relative;

      border: 1px solid var(--clr-light-grey);
      border-radius: var(--bord-radius);
      width: 100%;
      height: 50px;
      padding: 0 1em;
      justify-content: space-between;
      align-items: center;

      &-input {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        font-size: 1rem;
        border-radius: var(--bord-radius);
        text-align: center;
        background-color: inherit;
        outline: none;
        pointer-events: none;
      }

      &-btn {
        width: 20px;
        height: 20px;
        z-index: 2;
        font-size: 1rem;
        background-color: var(--clr-bg-grey);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        outline: none;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: border 0.1s;

        &:focus {
          border: 1px solid var(--clr-light-grey);
        }

        &:active {
          border-color: var(--clr-text);
        }

        .material-icons {
          font-size: 1rem;
        }
      }
    }
  }

  &__total {
    & > * {
      border-top: 1px solid var(--clr-grey-4);
      padding: 0.75em 0;

      display: flex;
      justify-content: space-between;
    }
  }
}

.fieldset {
  border: none;
  max-width: 465px;

  &__legend {
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    margin-bottom: 0.75em;
  }
}

.form__field {
  margin-bottom: clamp(1em, 2vw, 1.25em);

  &--row {
    display: flex;
    justify-content: space-between;
    gap: clamp(1.25em, 5vw, 2em);

    > * {
      flex-basis: 100%;
      margin-bottom: 0;
    }
  }
  .field__label {
    font-size: clamp(0.625rem, 2vw, 0.75rem);
    color: var(--clr-grey);
  }
}

.field__input {
  position: relative;
  width: 100%;
  color: var(--clr-light-grey);
  border: 1px solid var(--clr-light-grey);
  border-radius: var(--bord-radius);
  height: clamp(40px, 6vw, 56px);
  padding: 0 1.1em;

  display: flex;
  gap: 1em;
  align-items: center;

  &:focus-within {
    border-color: var(--clr-highlight);
    box-shadow: var(--clr-highlight) 0 0 2px 2px;
  }

  input {
    height: 100%;
    width: 100%;
    min-width: 50px;
    padding: 0 1em 0 3em;

    position: absolute;
    top: 0;
    left: 0;

    border: none;
    border-radius: var(--bord-radius);
    outline: none;

    font-size: clamp(0.75rem, 2vw, 1rem); // 12px - 16px
    &::placeholder {
      color: var(--clr-light-grey);
      font-weight: 600;
      font-size: clamp(10px, 2vw, 12px);
    }
  }

  .material-icons {
    font-size: clamp(1rem, 2vw, 1.25rem);
    color: var(--clr-light-grey);
    user-select: none;
    z-index: 2;
  }
}

.contact-info {
  margin-bottom: clamp(3em, 10vw, 3.5em);
}

.shipping-address {
  margin-bottom: 1.25em;
}

.save-info-wrapper {
  display: block;
  font-size: clamp(0.625rem, 2vw, 0.75rem);
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.form-submit {
  display: block;
  margin-top: 1.375em;
  margin-left: auto;
}

@media (min-width: 1000px) {
  .container {
    max-width: 960px;
  }

  .cart {
    float: right;
  }
}

@media (min-width: 1500px) {
  .main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
